<%- include('_layouts/header') -%>
  <h1>Post</h1>
    <h3><%= postDet.postTitle %></h3><h5><i><%=postDet.postTime%></i></h5>
    <div>
    <h3 class="post-body"><%- postDet.postBody %></h3>
    </div>
<%- include('_layouts/footer') -%>
